@import "./global.mixins.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;

  @include responsiveMax($screen-sm) {
    font-size: 50%;
  }

  @include responsiveMax($screen-xs) {
    font-size: 40%;
  }
}

body {
  background-color: $color-dark;
}

button {
  border: 0;
  background: none;
}
