@import "../../styles/variables.scss";

.input {
  width: 100%;
  color: $color-light-grey;
  padding: 1.2rem;
  padding-left: 4rem;
  border-radius: 5px;

  background-image: url("/icon-magnifier-grey.svg");
  background-size: 16px;
  background-position: 12px 12px;
  background-repeat: no-repeat;
}
