@import "../../styles/variables.scss";

.container {
  margin-top: 2.4rem;
  color: $color-white;

  .buttonBack {
    cursor: pointer;
  }
}

.dataContainer {
  display: flex;
  gap: 2rem;

  .data {
    flex: 1.2;

    .durationInfo {
      margin-top: 3.2rem;
      color: $color-light-grey;
    }

    h1 {
      font-size: 7rem;
      font-weight: bold;
      margin-top: 2.4rem;
      line-height: 0.8;
    }

    .ratingContainer {
      display: flex;
      flex-direction: row;
      gap: 1.6rem;

      margin-top: 3.2rem;
    }

    .plot {
      margin-top: 4.8rem;
    }

    .box {
      display: flex;
      flex-direction: column;

      h5 {
        font-weight: normal;
        color: $color-light-grey;
        margin-bottom: 0.8rem;
      }
    }

    .adicionalInfoContainer {
      display: flex;
      flex-direction: row;
      gap: 5.6rem;

      margin-top: 4rem;
    }
  }

  .cover {
    flex: 0.8;

    img {
      border-radius: 5px;
    }
  }
}

.imdb {
  display: flex;
  flex-direction: row;

  .title {
    flex: 1;
    color: $color-dark;
    font-weight: bold;
    border: 1px solid $color-yellow;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $color-yellow;
    padding: 1rem;
  }

  .text {
    flex: 1;
    padding: 1rem;
    font-weight: 500;
    border: 1px solid $color-light-grey;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.score {
  display: flex;
  flex-direction: row;

  .title {
    flex: 1;
    border: 1px solid $color-red;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $color-red;
    padding: 1rem;
  }

  .text {
    flex: 1;
    padding: 1rem;
    font-weight: 500;
    border: 1px solid $color-light-grey;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.favorite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 1rem;
  border: 1px solid $color-light-grey;
  border-radius: 5px;
  color: $color-light-grey;
  font-weight: 500;
}
